# Khám phá dữ liệu, tiền xử lý, phân tích đơn giản

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Đọc dữ liệu từ file

In [2]:
air_df=pd.read_csv('data.csv',sep=',',index_col='dt')

In [3]:
air_df.head()

                 co     no     no2     o3     so2   pm2_5    pm10    nh3  aqi
dt
1606438800  2162.93  63.48   39.07   4.51   82.02   83.66  107.71  17.99    5
1606442400  2910.61  81.36   65.80  11.80  117.30  116.49  148.14  23.31    5
1606446000  3337.86  67.06  123.38  38.27  154.50  168.02  206.90  25.59    5
1606449600  2296.45  18.33  137.09  56.51  135.42  146.98  178.00  15.83    5
1606453200  1762.39   7.49  108.30  62.23  114.44   99.77  123.98  14.06    5

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

### Dữ liệu có các dòng bị lặp không?

### Mỗi cột có ý nghĩa gì?

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

## Tiền xử lý

## Quay lại bước khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

## Tiền xử lý

## Quay lại bước khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu không phải dạng số, các giá trị được phân bố như thế nào?

## Đặt câu hỏi