# Khám phá dữ liệu, tiền xử lý, phân tích đơn giản

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Đọc dữ liệu từ file

In [8]:
air_df = pd.read_csv('data.csv', sep = ',')

In [10]:
air_df.head()

       co    no   no2     o3   so2  pm2_5  pm10   nh3  aqi
0  323.77  0.21  5.74  17.35  3.46   4.60  6.11  2.53    1
1  343.80  0.78  5.66  18.60  3.76   4.66  6.36  2.79    1
2  353.81  0.91  6.00  20.92  4.05   4.54  6.36  3.14    1
3  360.49  0.71  6.08  24.68  4.23   4.37  6.17  3.29    1
4  340.46  0.48  5.14  30.04  4.35   4.41  5.81  2.98    1

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [11]:
air_df.shape

(4422, 9)